    #opendialog{
        display:block;
        float:right; 
        padding:5px 10px;
        background:orange;
    }
    .songbook_songlist{
        width:97%;
        margin:5px auto;
        border-spacing:0px;
        border-collapse:collapse;
    }
    #authors .backtosongs{
        display:block;
        width:15%;
        padding:15px;
        border:1px solid;
        border-radius:5px;
        margin:20px auto;
    }
    #authors .sauthor{
        display:block;
        float:left;
        padding:5px;
        margin:3px 10px
    }
    .songbook_songlist thead{
        font-size:120%;
        font-weight:bold;
        border-bottom:1px dashed darkred;
        padding:10px;
        margin:5px auto 10px;
    }
    .songbook_songlist tr{
        height:26px;
        margin:0px;
    }
    .songbook_songlist tr:hover{
        background:rgba(239, 239, 239,0.5);
    }
    .songbook_songlist tr td{
        padding:3px;
    }
    .songbook_songlist>tbody>tr>.songbook_songlist_onesong_info{
        width:70%;
    }